

.viewMoreContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
  }
  
  @media (max-width: 600px) {
    .viewMoreContainer {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
  }
  