.slider-container {
    position: relative;
  }
  
  .slick-slide {
    padding: 0 20px;
  }
  
  @media (max-width: 600px) {
    .slick-slide {
      padding: 0 5px;
    }
  }
  
  .slick-prev,
  .slick-next {
    display: block;
  }
  
  @media (max-width: 768px) {
    .slick-prev,
    .slick-next {
      display: none;
    }
  }
  
  .slick-dots {
    left: 10px;
    bottom: -30px;
    text-align: left;
  }
  
  .slick-dots li {
    margin: 0;
  }
  
  .slick-dots li button:before {
    color: #fc8229;
    font-size: 8px;
  }
  
  .slick-dots li.slick-active button:before {
    color: #fc8229;
    font-size: 8px;
  }
  
  .button-box {
    position: absolute;
    right: 40px;
    display: flex; /* Ensure it's flex for gap to apply */
    gap: 10px; /* Space between buttons */
    margin-top: 20px;
  }
  
  @media (max-width: 600px) {
    .button-box {
      display: none;
    }
  }
  
  